# External libraries e.g. SFML or TGUI
lib/

# External test libraries e.g. Googletest
test/lib/

# Build directory
/cmake-build-debug

# CLion IDE config
/.idea

# Resources
resources/


# Basic C++ .gitignore:
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
